# links
snippet [href
	[${1:id}]: ${2:url}
snippet [hreft
	[${1:id}]: ${2:url} "${3:Title}"
snippet [link
	[${1:Link Text}](${2:URL})
snippet [tlink
	[${1:Link Text}](${2:URL} "${3:Title}")
snippet [rlink
	[${1:Text}][${2:id}]
snippet <img
	![${1:Alt Text}](${2:img URL})
