# snippets for making matlab 
snippet for
	for ${1:i}=${2:from}:${3:to}
		${5:%statements}
	end
snippet if
	if(${1:conditions})
		${2:%statements}
	end
snippet func
	function ${1:name}(${2:input})
		${3:%statements}
	end
snippet rfunc
	function ${3:output}=${1:name}(${2:input})
		${4:%statements}
	end
snippet disp
	disp([${1:text}])
snippet errc
	errc([${1:error_text}])
snippet dbg
	dbg('${1:test}',${2:id})
snippet pushd
	[${2:status},${1:tmpfile}]=pushd;
	${3:%commands}
	popd($1)
